#main-container {
    position: relative;
    display: flex;
    min-height: calc(100vh - 3.5rem);
  }
  
  #main-container #sidebar-div {
    /* Add your sidebar styles here */
  }
  
  #content-wrapper-div {
    height: calc(100vh - 3.5rem);
    flex: 1;
    overflow: auto;
  }
  
  #content-div {
    max-width: 1000px;
    width: 91.67%;
    margin: 0 auto;
    padding: 2.5rem 0;
  }
  @media (max-width: 558px) {
    #main-container {
      flex-direction: column;
    }
  }