.explore-container {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explore-heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  
  .explore-description {
    color: #4a4d51;
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  
  .explore-tabs {
    margin-top: 1.25rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 9999px;
    background-color: #b4bed1;
    border: 1px solid #cbd5e0;
    padding: 0.2rem;
    
  }
  
  .tab {
    font-size: 1rem;
    border-radius: 9999px;
    margin: 1%;
   padding: 1% 2%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    gap: 0.5rem;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #8fa7cf;
    color: #f7fafc;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .active {
    background-color: #9bacc9;
    color: #f7fafc;
    font-weight: 500;
  }
  .explore-height{
   display: flex;
   flex-direction: row;
   gap: 3%;
   margin-top: 6%;
   justify-content: center;
   align-items: center;
  }
  @media (max-width: 1000px) {
    .explore-container {
      width: 100%;
    }

    .explore-tabs {
      width: 100%;
    }
    
  }
  @media (max-width: 800px) {
   
    .explore-tabs {
    
     
      .tab {
        font-size: 0.8rem;
       
        margin: 0%;
       padding: 1% 1%;
       
        cursor: pointer;
      }
      
    }
  }
  @media (max-width: 600px) {
    .explore-height{
      display: flex;
      flex-direction: column;
      gap: 3%;
      margin-top: 6%;
     }
     .course-card-main {
      width: 60%;
  }
  }
  