.about-main-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-photo{
   display: flex;
   width: 70%;
   margin: 5%;

}
.about-text {
    margin-top: .7rem; /* Equivalent to mt-4 in Tailwind CSS */
    width: 100%; /* Equivalent to w-[90%] in Tailwind CSS */
    text-align: center; /* Equivalent to text-center in Tailwind CSS */
    font-size: 1.125rem; /* Equivalent to text-lg in Tailwind CSS */
    font-weight: 500; /* Equivalent to font-bold in Tailwind CSS */
    color: #989999; /* Equivalent to text-richblack-300 in Tailwind CSS */
}