#resetPassword-container {
    min-height: calc(100vh - 3.5rem);
    display: grid;
    place-items: center;
  }
  
  #resetPassword-content {
    max-width: 500px;
    padding: 1rem;
  }
  
  @media (min-width: 1024px) {
    #resetPassword-content {
      padding: 2rem;
    }
  }
  
  #resetPassword-content h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.375rem;
   
    text-align: center;
      background: linear-gradient( #0c04fb, #0870f0,#9999a3, #3f3570);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight:bold;
  }
  
  #resetPassword-content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #c0bbbb;
  }
  
  #resetPassword-form label {
    width: 100%;
  }
  
  #resetPassword-form label p {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #ebe6e6;
  }
  
  #resetPassword-form label sup {
    color: #db2727;
  }
  
  #resetPassword-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  #resetPassword-form button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    background-color: #164ebf;
    color: #f6f1f1;
    font-weight: 500;
    border-radius: 0.5rem;
  }
  
  #resetPassword-navLink {
    margin-top: 1.5rem;
    display: flex;
   
    align-items: center;
    color: #080cf5;
  }
  
 